/* Ensure the dropdown menu is absolute and floating */
.nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 1000;
}

/* Optional: Ensure no overlap with other nav items */
.nav-item.dropdown {
    position: relative;
}

.navbar {
    border-bottom: 1px solid #484045;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .nav-item.dropdown .dropdown-menu {
        position: fixed; /* Fixed for mobile */
        top: 10vw;
        right: 0;
        left: auto;
        z-index: 1050;
    }

    /* Prevent the navbar from having scrollbars */
    .navbar-nav-scroll {
        overflow: hidden;
    }
}

/* Sidebar Styles */
.sidebar {
    background-color: #e3f2fd;
    padding-top: 18vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); /* Sidebar is shown initially on all screens */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.sidebar ul li a {
    text-decoration: none;
    padding: 15px;
    color: black;
    display: block;
    width: 100%;
}

.sidebar ul li:hover {
    background-color: #c4c4c4;
}

.burger-icon {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Initially hidden */
}

/* Main Content Styles */
.main-content {
    margin-top: 18vh;
    margin-left: 240px;
}

.sidebar ul li a.active {
    background-color: #f81d0b;
    color: white;
}

.sidebar ul li a.active:hover {
   cursor: default;
}

/* Adjustments for Small Screens */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        transform: translateX(0); /* Initially shown on smaller screens */
    }

    .sidebar.active {
        transform: translateX(-100%); /* Sidebar will hide when burger is clicked */
    }

    /* Burger Icon for Mobile */
    .burger-icon {
        display: inline-block;
    }

    /* Center logo on small screens */
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Reset the main content margin when the sidebar is hidden */
    .main-content {
        margin-left: 0;
        padding: 0px 5vw;
    }
}