body {
    overflow-x: hidden;
    background-color: #484045;
    color: white;
}

/* Ensure the dropdown menu is absolute and floating */
.nav-item.dropdown .dropdown-menu {
    position: fixed;
    top: 10vh;
    /* right: 0; */
    left: auto;
    z-index: 1050;
}

.navbar {
    border-bottom: 1px solid #484045;
}

/* Adjust for smaller screens */
@media (max-width: 890px) {
    .nav-item.dropdown .dropdown-menu {
        position: fixed;
        top: 10vh;
        left: auto;
        right: 0;
        z-index: 1050;
    }

    .navbar-nav-scroll {
        overflow: hidden;
    }
}

/* Sidebar Styles */
.sidebar {
    background-color: #e3f2fd;
    padding-top: 16vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); /* Sidebar is shown initially on all screens */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.sidebar ul li a {
    text-decoration: none;
    padding: 15px;
    color: black;
    display: block;
    width: 100%;
}

.sidebar ul li:hover {
    background-color: #c4c4c4;
}

.burger-icon {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Initially hidden */
}

/* Sidebar Dropdown Styles */
.sidebar ul li.sidebar-item:hover {
    background-color: transparent;
}

li.sidebar-item a.customers:hover {
    background-color: #c4c4c4;
}

/* If the .customers link has the 'active' class, do NOT apply the hover background */
li.sidebar-item a.customers.active:hover {
    background-color: #f81d0b;
}

.sidebar-item {
    position: relative;
    list-style: none;
}

.sidebar-item > a {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Puts the icon at the right end */
    padding: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.caret-icon {
    /* margin-left: auto; */
    transition: transform 0.3s ease;
}

/* When the dropdown is open (applied by JS when the route is active) */
.caret-icon.open {
    transform: rotate(90deg); /* Rotates the caret to point down */
}

.caret-icon:hover {
    cursor: pointer;
}

/* .sidebar ul li a {
    font-size: 1.25rem !important;
} */

/* End Sidebar */

/* Dropdown menu styles */
.dropdown-customers {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    margin-top: 5px !important;
    display: none;
}

.dropdown-customers li {
    margin-bottom: 3px !important;
}

.dropdown-customers li a {
    text-decoration: none;
    color: black;
    padding: 12px 12px 12px 30px !important;
    font-size: 0.94rem;
    display: block;
}

.add-categ {
    padding-left: 14px;
    background-color: #c4c4c4;
}

.edit-categ {
    background-color: transparent;
}

li.add-categ:hover {
    background-color: #989898 !important;
}

.add-categ a {
    font-size: 0.94rem;
    /* padding-left: 20px; */
}

.fa-users-gear {
    margin-top: 0.9rem;
    position: absolute;
}

.monitor-margin {
    /* margin-left: 1.64rem; */
    margin-left: 1.64rem;
}

/* Dashboard Styles */
.card {
    position: relative;
    min-height: 100px;
    border-radius: 8px;
    overflow: hidden; /* Ensures icons don’t affect the layout */
    border: none;
}

.card-body:hover {
    color: white !important;
}

.icon-background {
    position: absolute;
    bottom: 10px; /* Adjust icon position within card */
    left: 10px;
    font-size: 50px;
    opacity: 0.2;
    pointer-events: none; /* Makes icon non-interactive */
}
.card-body h2 {
    font-size: 2rem;
    margin-bottom: 0;
}
.card-body {
    text-align: end;
    border-top: none;
}

/* Main Content Styles */
.main-content {
    margin-top: 16vh;
    margin-left: 280px;
    margin-right: 2vw;
}

.sidebar ul li a.active {
    background-color: #f81d0b;
    color: white;
}

.active-customer {
    background-color: #c4c4c4;
    /* color: white !important; */
}

.sidebar ul li a.active:hover,
.active-customer {
    cursor: default;
}

/* Responsive Sidebar */
@media (max-width: 980px) {
    .sidebar {
        width: 230px;
        transform: translateX(0); /* Initially shown on smaller screens */
        z-index: 100;
    }

    .sidebar.active {
        transform: translateX(
            -100%
        ); /* Sidebar will hide when burger is clicked */
    }

    /* Burger Icon for Mobile */
    .burger-icon {
        display: inline-block;
    }

    /* Reset the main content margin when the sidebar is hidden */
    .main-content {
        margin-left: 0;
        padding: 0px 2vw 0px 4vw;
    }

    .sidebar-font {
        font-size: 1.1rem !important;
    }

    .dropdown-customers li a {
        font-size: 0.92rem;
    }
}

/* Table */
.faded-white {
    color: rgb(255, 255, 255, 0.7);
}

.navigation {
    text-decoration: none;
    color: white;
}
.navigation:hover {
    text-decoration: underline;
}

table {
    margin-bottom: 0px;
}

.table-container {
    background-color: #e3f2fd;
    padding: 1rem 2rem;
    border-radius: 5px;
}

/* Taas ng Table */
.custom-filter {
    display: flex;
    align-items: center;
}

.custom-filter select {
    width: auto;
    margin-right: 10px; /* Ensure proper spacing between the select and button */
}

select:hover {
    cursor: pointer;
}

/* Filter Button Width */
.button-wid {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
}

.button-wid-u {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
}

/* Image Modal Styles */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

#modalImage {
    width: auto;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}
.content-d {
    max-width: none;
    max-height: none;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close-modal:hover {
    color: #f81d0b;
}
/* End Image Modal Styles */

.delivery-status-select {
    /* width: auto; */
    max-width: 200px; /* Optional: set a max width if needed */
}

/* Menu Icon Toast Message */
#customToastBox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.custom-toast {
    width: 400px;
    height: 80px;
    background: #fff;
    color: black;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
}

.custom-toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.custom-toast.error i {
    color: red;
}

.custom-toast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 2.8s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}
.custom-toast.error::after {
    background: red;
}

/* End Menu Icon Toast Message */

td.td-select {
    /* max-width: 110px; */
    max-width: 128px;
    padding: 0 30px;
}

/* Messages Feedback  */
.messages-section {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    /* max-height: 400px; */
    overflow-y: auto;
    margin-top: 20px;
}

.messages-section-m {
    background-color: #f5f5f5;
    border-radius: 8px;
    /* padding: 20px; */
    /* max-height: 400px; */
    overflow-y: auto;
    margin-top: 20px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

.message-f {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-f:hover {
    background-color: #e8f4fd;
}

.message-a {
    text-decoration: none;
    color: black;
}

.message-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.4rem; /* Icon size */
    color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.message-content {
    flex: 1;
}

.message-name {
    font-size: 1rem;
    /* font-weight: bold; */
    margin: 0;
}

.message-text {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
}

.message-time {
    font-size: 0.8rem;
    color: #888;
    white-space: nowrap;
}

.shop-messages {
    height: 55vh;
    overflow-x: hidden !important;
    /* height: 48vh; */
}

#modasldfkj {
    min-width: 50vw;
}

/* Spinner overlay styles */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgb(72, 64, 69, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Higher than modal */
}

.spinner-border {
    color: #f81d0b;
    font-size: 1.2rem;
}
/* Spinner overlay styles */