.left {
    width: 60%;
}

.right {
    width: 40%;
}

.size {
    font-size: 0.8rem;
}

.back-cart {
    border-color: #0d6efd !important;
    color: #0d6efd;
}

.back-cart:hover,
.back-cart:active {
    background-color: #0d6efd !important;
    color: white !important;
}

.order {
    background-color: #f81d0b;
    color: white;
}

.order:hover,
.order:active {
    background-color: transparent !important;
    color: #f81d0b !important;
}