body {
    overflow-x: hidden;
    background-color: #484045;
    color: white;
}

.dropdown-menu .dropdown-item:active {
    background-color: #f81d0b;
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #dddddd;
    color: black;
}

/* Main Content */
.main-content {
    margin-top: 17vh;
}

.border-baba {
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}

.card {
    border: 2px solid #f81d0b;
}

.price {
    color: #f81d0b;
}

.fa-star {
    color: #484045;
}

.price-line {
    text-decoration: line-through;
}

.nav-link:hover {
    color: #f81d0b;
}


/* Animation Hover Styles */
.card {
    position: relative;
    overflow: hidden;
}

.img-container {
    position: relative;
}

.card-img-top {
    width: 100%;
    transition: all 0.3s ease;
}

/* Darken image on hover */
.img-container:hover .darken {
    filter: brightness(30%);
}

/* Icon overlay styles */
.icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    display: flex;
    gap: 15px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s ease;
}

.icon-overlay i {
    cursor: pointer;
}

/* Slide-up icons on hover */
.img-container:hover .icon-overlay {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

/* Smooth transition back when hover ends */
.img-container:hover .icon-overlay i {
    transition: all 0.3s ease;
}

/* Hover effect on icons */
.icon-overlay i:hover {
    transform: scale(1.2);
    color: #f81d0b; /* Optional: Add a hover color effect */
}



/* Menu Styles */
.top-container {
    background-color: rgb(122, 109, 117);
    width: 99vw !important;
    padding-left: 9vw !important;
    padding-right: 9vw !important;
}

.low-opacity-white {
    color: rgb(255, 255, 255, 0.7);
}

select {
    width: 30% !important;
}

.categories {
    min-width: 20vw !important;
}

.category-lists {
    font-size: 1.1rem;
}